
body {
    background-color: #101010;
    font-family: 'Mulish', sans-serif;
    color: #ffffff;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    user-select: none;
}

.center {
    text-align: center;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.center h1 {
    text-shadow: 0px 3px 16px #7e47ff;
    text-emphasis-color: #7e47ff;
    -webkit-text-fill-color: #7e47ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
    font-size: 7rem;
}

.btn {
    user-select: none;
    margin-top: 1rem;
}

.button {
    user-select: none;
    cursor: pointer;
    display:inline-block;
    width: auto;
    padding: .6rem !important;
    margin: .6rem .2rem .7rem 0 !important;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: rgb(25,25,25);
    text-decoration: none;
    font-size: 1rem !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all .3s cubic-bezier(0.42, 0, 0.37, 1.87);
}

.button:hover {
    transform: scale(1.08);
    box-shadow: 0px 0px 16px #7e47ff;
}

.profilepic
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 15px;
    margin: auto;
}


.frame {
    width: 625px;
    height: 335px;
    display: inline-block;
    margin-right: 0.5rem;
    margin-left: 0.5rem; 
    background-color: rgba(80, 80, 80, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 0.5em;
    font-weight: 100;
    text-align: top;
    border-radius: 6px;
    backdrop-filter: opacity(1px);
    transition: all .5s cubic-bezier(0.42, 0, 0.37, 1);
}

.frame:hover {
    transform: scale(1.01);
}

.frame h3{
    text-align: center;
    background-color: transparent;
    text-shadow: 0px 0px 50px #7e47ff;
    text-emphasis-color: rgb(255,255,255);
    color: rgb(225, 225, 225);
    margin-top: 115px;
    margin-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
}

.frame p1{
    text-align: center;
    background-color: transparent;
    text-shadow: 0px 0px 10px #ffffff;
    padding-bottom: 20px;
    color: rgb(225, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

.modal{
    z-index: 1000;
    max-width: 100%;
    width: 100%;
    position: fixed;
    top:50%;
    background-color: transparent;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    display: none;
    height: 100%;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}
.modal.show{display:flex}
#close {cursor:pointer;color:white;position:absolute;top:0;font-size:25px;right:0;padding:1rem;margin-right: 10px;}
.modal__title{font-size: 2.5rem;}
.modal__title span{display: block;font-weight: 400;}
.modal__paragraph{font-size: 16px;font-weight: 400;}
.modal__button:hover{background-color:#0a9372;}
main{text-align: center;}
.modal__container{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}