
body {
    background-color: #101010;
    font-family: 'Mulish', sans-serif;
    color: #ffffff;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    user-select: none;
}

.center {
    text-align: center;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.center h1 {
    text-shadow: 0px 3px 16px #7e47ff;
    text-emphasis-color: #7e47ff;
    -webkit-text-fill-color: #7e47ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
    font-size: 7rem;
}

.btn {
    user-select: none;
    margin-top: 1rem;
}

.button {
    user-select: none;
    cursor: pointer;
    display:inline-block;
    width: auto;
    padding: .6rem !important;
    margin: .6rem .2rem .7rem 0 !important;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: rgb(25,25,25);
    text-decoration: none;
    font-size: 1rem !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all .3s cubic-bezier(0.42, 0, 0.37, 1.87);
}

.button:hover {
    transform: scale(1.08);
    box-shadow: 0px 0px 16px #7e47ff;
}

.profilepic
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 15px;
    margin: auto;
}

.frame {
    width: 625px;
    height: 335px;
    display: inline-block;
    margin-right: 0.5rem;
    margin-left: 0.5rem; 
    background-color: rgb(35,35,35);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 0.5em;
    font-weight: 100;
    text-align: top;
    border-radius: 6px;
    filter: opacity(35%);
    transition: all .5s cubic-bezier(0.42, 0, 0.37, 1);
}

.frame:hover {
    transform: scale(1.02);
}

.frame h3{
    text-align: center;
    background-color: rgb(35,35,35);
    text-shadow: 0px 0px 50px #7e47ff;
    text-emphasis-color: rgb(255,255,255);
    color: rgb(225, 225, 225);
    margin-top: 115px;
    margin-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
}

.frame p1{
    text-align: center;
    background-color: rgb(35,35,35);
    text-shadow: 0px 0px 10px #ffffff;
    padding-bottom: 20px;
    color: rgb(225, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}