body {
    background-image: url('../images/Negan2.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Mulish', sans-serif;
    color: #ffffff;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    user-select: none;
}