@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300&display=swap');


.frame {
    width: 300px;
    height: 150px;
    display: inline-block;
    margin-right: 1rem;
    margin-left: .7rem;
    background-color: rgba(80, 80, 80, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 0.5em;
    padding-right: 6.5rem;
    padding-left: 7rem;
    font-weight: 100;
    text-align: center;
    border-radius: 6px;
    transform: scale(1.01);
    transition: all .5s cubic-bezier(0.42, 0, 0.37, 1);
}

.frame:hover {
    transform: scale(1.03);
}

.frame h3{
    text-align: left;
    background-color: transparent;
    text-shadow: 0px 0px 50px #7e47ff;
    text-emphasis-color: rgb(255,255,255);
    color: rgb(225, 225, 225);
    margin-top: 10px;
    margin-right: .5rem;
    margin-left: .5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
}

.frame p1{
    text-align: center;
    background-color: transparent;
    text-shadow: 0px 0px 10px #ffffff;
    padding-bottom: 20px;
    color: rgb(225, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

.box{
    display: inline-block;
    margin-left: 10px;
    text-align: center;
    max-width: 350px;
    max-height: 300px;
    width: 300px;
    height: 150px;
    margin-right: 1rem;
    margin-top: 0.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 0.5rem;
    font-weight: 100;
    border-radius: 6px;
    background-color: rgba(80, 80, 80, 0.1);
    backdrop-filter: opacity(50%);
    transition: all .5s cubic-bezier(0.42, 0, 0.37, 1);
}

.box p1 {
    margin-bottom: 10px;
    margin-top: 10px;
    color: rgb(225, 225, 225);
}

.box h3{
    text-align: center;
    background-color: transparent;
    text-shadow: 0px 0px 50px #7e47ff;
    text-emphasis-color: rgb(255,255,255);
    color: rgb(225, 225, 225);
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
}

.box:hover{
    transform: scale(1.03);
}

.box h4{
    background-color: rgb(35,35,35);
    color: rgb(225, 225, 225);
    margin-top: 14px;
    margin-bottom: 6px;
    text-align: top;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
}

.profilepic
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 15px;
    margin: auto;
}

.linkbtn {
    user-select: none;
    margin-top: 1rem;
}

.linkbutton {
    user-select: none;
    cursor: pointer;
    display:inline-block;
    width: auto;
    padding: .6rem !important;
    margin: .6rem .2rem 7rem 0 !important;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: rgb(25,25,25);
    text-decoration: none;
    font-size: 1rem !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all .3s cubic-bezier(0.42, 0, 0.37, 1.87);
}

.linkbutton:hover {
    transform: scale(1.08);
    box-shadow: 0px 0px 16px #7e47ff;
}